src/main/resources/xsd/customers.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="customers">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="customer" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="customer">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="customerCode">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="CUST[0-9]{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="fullName">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
                            <xs:minLength value="1"/>
                            <xs:maxLength value="120"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="city">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="60"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="age">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="active" type="xs:boolean"/>
                <xs:element name="signupDate" type="xs:date"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>