src/main/resources/xsd/products.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="productCatalog">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="product" type="ProductType" maxOccurs="unbounded"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="ProductType">
        <xs:sequence>

            <xs:element name="sku" type="skuType"/>
            <xs:element name="name" type="nameType"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="category" type="categoryType"/>
            <xs:element name="price" type="xs:nonNegativeInteger"/>
            <xs:element name="stockQuantity" type="xs:nonNegativeInteger"/>
            <xs:element name="weightKg" type="weightType" minOccurs="0"/>
            <xs:element name="status" type="statusType"/>
            <xs:element name="inStock" type="xs:boolean" />
            <xs:element name="releaseDate" type="xs:date"/>
            <xs:element name="lastUpdated" type="xs:dateTime"/>
            <xs:element name="rating" type="ratingType" minOccurs="0"/>
            <xs:element name="tags" type="TagsType"/>
            <xs:element name="manufacturer" type="xs:string"/>
            <xs:element name="warrantyYears" type="warrantyYearsType"/>

        </xs:sequence>
    </xs:complexType>


    <!-- Választható kategóriák -->
    <xs:simpleType name="categoryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Elektronika"/>
            <xs:enumeration value="Bútor"/>
            <xs:enumeration value="Könyvek"/>
            <xs:enumeration value="Konyha"/>
            <xs:enumeration value="Ruházat"/>
            <xs:enumeration value="Sport"/>
            <xs:enumeration value="Játék"/>
            <xs:enumeration value="Egészség"/>
            <xs:enumeration value="Kert"/>
            <xs:enumeration value="Autó"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="skuType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,6}-\d{3}-[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="weightType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="statusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="available"/>
            <xs:enumeration value="discontinued"/>
            <xs:enumeration value="out_of_stock"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ratingType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="5.0"/>
            <xs:fractionDigits value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TagsType">
        <xs:sequence>
            <xs:element name="tag" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="warrantyYearsType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="10"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>