src/main/resources/products.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="productCatalog">
        <xs:complexType>
            <xs:sequence>

                <xs:element ref="product" maxOccurs="unbounded"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="product">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="sku">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z]{2,6}-\d{3}-[A-Z]{2,3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="category" type="categoryType"/>
                <xs:element name="price">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="stockQuantity">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="weightKg" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0.0"/>
                            <xs:fractionDigits value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="status">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="available|discontinued|out_of_stock"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="inStock" type="xs:boolean" />
                <xs:element name="releaseDate" type="xs:date"/>
                <xs:element name="lastUpdated" type="xs:dateTime"/>
                <xs:element name="rating" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0.0"/>
                            <xs:maxInclusive value="5.0"/>
                            <xs:fractionDigits value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="tags">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tag" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="manufacturer" type="xs:string"/>
                <xs:element name="warrantyYears">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="10"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Választható kategóriák -->
    <xs:simpleType name="categoryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Elektronika"/>
            <xs:enumeration value="Bútor"/>
            <xs:enumeration value="Könyvek"/>
            <xs:enumeration value="Konyha"/>
            <xs:enumeration value="Ruházat"/>
            <xs:enumeration value="Sport"/>
            <xs:enumeration value="Játék"/>
            <xs:enumeration value="Egészség"/>
            <xs:enumeration value="Kert"/>
            <xs:enumeration value="Autó"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>